/* NAV-BAR RESPONSIVE  */
@media only screen and (max-width : 825px) {
    .nav-bar{
        flex-direction: column;

    }
    .logo{
        margin-top: 6px;
    }
    .nav-btn{
         position: absolute; 
        top: 0;
        left: 40%;
       
    }
    .nav-bar ul{
        flex-direction: column;
       position: absolute;
       top: 4rem;
        width: 100vw;

       

    }
    .hide{
        left: -500px;
    }
    .nav-icon{
        display: inline-block;
    }
    .body-img{
        height: 380px;
    }
    .show{
       
        left: 600px;
        
    }
    .project1{
        height: 168px;
        
    }
   
}

@media only screen and (max-width : 770px) {
    .body-img{
        height: 350px;
    }
  
    .body-head2{
        width:350px;
    }
    .project1{
        height: 150px;
    }
    .about-sec{
        height: 35rem;
    }
    .project-sec{
        height: 30rem;
    }
}

@media only screen and (max-width : 420px) {
    .body-sec1{
        height: 50rem;
    }
    .body-head2{
        font-size: 12px;
        
    font-weight: bold;
    }
    .about-sec{
        height: 100rem;
    }
   
    .project-sec{
        height: 50rem;
    }
    .show{
        left: 258px;
       
    }
    
    .nav-bar ul{
        flex-direction: column;
    }
    #contact{
        height:50rem;
        margin-top: -4rem;
    }
    #card-sec > div:nth-child(n) > div > div{
        justify-content: center;
    }
    
}

@media only screen and (max-width : 380px) {
    .body-head2{
        width: 300px;
    }
    

  
    .body-sec1{
        height: 50rem;
    }
    .about-sec{
        height:93rem;
    }
    .project-sec{
        height: 50rem;
        margin-top:15px;
    }
    .project1{
        height: 150px;
    }
    #contact{
        height: 50rem;
        margin-top: -5rem;
    }

   
}



